:root{
    --primarycolor:#4CAF4F;
    --primary:#18191F;
}
.textgreen{
    color: var(--primarycolor) !;
}
.textgreen:hover{
    color: var(--primarycolor) !important;
}
.bggreen{
    background-color: var(--primarycolor);
    color: aliceblue;
}
.bggreen:hover{
    background-color: var(--primarycolor);
    color: aliceblue;
}
.blackcolor{
    color: var(--primary) !important;
}
.textcolor{
    color: var(--primarycolor);
}
.greencolor{
    color: var(--primarycolor); !important
}
.bgcolor{
    background-color: var(--primarycolor);
}
.bgcolor:hover{
    background-color: var(--primarycolor);
}
.blackcolor{
    color: var(--primary !important);
}